.number-odd{
    background-color: rgb(233, 96, 203);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#even-1{
    color: blue;
}

#even-2{
    font-size: 36px;
    background-color: rgb(141, 253, 216);

}